* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    overflow-x: hidden;
}

.header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    font-size: 20px;
    margin: 0;

    border: solid red;
    width: 100vw;
    height: 12vh;
}

.headerHeading {
    float: left;
    margin: 2vh auto 2vh 1vw;
    border: solid red;
    padding: auto;
    /* padding: 2vh 40vw auto 1vw; */
}

.navBarLinks {
    border: solid red;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    width: 50vw;
    margin: 3vh 3vw auto 1vw;
}

.seo {
    color: #d9dcd6;
}

li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    border: solid blue;
    height: 100vh;
    width: 100vw;
    margin-bottom: 25px;
    margin-right: 0;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


.content {
    width: 75vw;
    float: left;
    border: solid red;
    margin: auto auto auto 20px;
}

.contentSubContainer {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    border: solid red;
}

.imgLeft {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

.imgRight {
    max-height: 200px;
    float: right;
    margin-left: 25px;
}

.contentHeader{
    margin-bottom: 20px;
    font-size: 36px;
}

.benefits {
    border: solid red;
    margin: auto 20px 20px auto;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefitSubContainer {
    border: solid red;
    margin-bottom: 32px;
    color: #ffffff;
    margin: auto;
}

.benefitHeader {
    text-align: center;
}

.benefitImg {
    display: block;
    margin: 10px auto;
    max-width: 150px;
    height: 150px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    width: 100vw;
    border: solid red;
    margin: auto 0 auto auto;
}

#footerHeader {
    font-size: 20px;
}